*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {background-image: linear-gradient(to left ,rgb(64, 76, 170), rgb(90, 76, 170))}
.h-page section{
    display: grid;
    grid-template-columns: repeat(4, 340px);
    text-align: center;
}
#welcome {
    text-align: center;
    margin: 10px;
}
.any-container{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 60px;
    text-align: center;
    box-shadow: 1px 2px 15px 0px rgb(30, 10, 0);
}

.any-container:hover{
    transform: translateY(-10%);
    transition: 0.3s;
    cursor: pointer;
}

/* Page info style css */
.info-page {
    background-image: linear-gradient(to left ,rgb(64, 76, 170), rgb(90, 76, 170));
    justify-content: center;
    display: flex;
    align-items: center;
}
.container{
    background-color: white;
    justify-content: left;
    padding: 5vh;
    height: 60vh;
    margin: 80px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px 0px grey;
    width: 600px;
    display: inline-flex;
    align-items: center;
}

.container p{
    font-weight: 500;
    font-size: 18px;
}
.img-format{
    margin: 10px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 1px 2px 15px 0px grey;
}
.img-format:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition: 0.5s;
}
.information-quiz{margin: 10px;}
.btn-format {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(9, 122, 43);
    width: 130px;
    margin: 10px;
    padding: 10px;
    border: none;
}
.btn-format:hover{
    background: rgb(1, 80, 43);
    cursor: pointer;
}
/* Quiz Page of HTML */
.quiz-page{
    justify-content: center;
    align-items: center;
    display: flex;
}
.quiz-page section{
    margin: 20px;
    text-align: left;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.quiz-page h3 {
    padding: 10px;
    font-weight: 100;
}
.quiz-page hr{
    background-color: grey;
    height: 5px;
    border-radius: 50px;
    width: 800px;
}
.quiz-page h2{
    padding: 10px;
    font-weight: 300;
}
.row{display: inline-flex;}
.container-question{
    padding: 5px;
    background-color: grey;
    width: 100%;
    border-radius: 20px;
    align-items: center;
}
#question{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 100;
}
.quiz-page button{padding: 20px;}
.button-response {
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* End page */
.eng-p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.eng-p .pontos{
    display: flexbox;
    justify-content: center;
}
/* Usuario page */
.u-page{
    display: flex;
    justify-content: center;
}
.container-user{
    background-color: white;
    padding: 50px;
    display: block;
    text-align: left;
    border-radius: 20px;
    margin: 160px;
}
.welcome-text h2{
    padding: 2px;
    border-bottom: 2px solid grey;
}
.welcome-text p{
    font-size: 16px;
    font-weight: 100;
    padding: 2px;
}
.container-user ul{padding: 0;}
.container-user .btn-format{
    text-align: center;
}
.center{
    width: 100%;
    text-align: center;
}
.btn-format{
    text-align: center;
}
.label-format{
    font-size: 30px;
    font-weight: bold;
}
.input-name{
    text-align: left;
    font-size: 10px;
}
.input-name label{
    font-size: 18px;
    font-weight: normal;
}
.input-name ul{
    list-style: none;
}
.txt-format{
    width: 100%;
    outline: none;
    font-size: 20px;
    border: none none none 2px;
    border-radius: 5;
}
.container-p{
    margin: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 10vh;
    display: block;
}
.container-p p{
    font-size: 25px;
    font-weight: bold;
}